@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background: #000;
  color: #fff;
}

::selection {
  background: #fff;
  color: #000;
}
